{% extends "base.html" %}
{% block title %}Escritorio{% endblock %}
{% block css %}
    <link href="/static/css/usuarios/usuarios.css" rel="stylesheet">
{% endblock %}
{% block js %}
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/crypto.js"></script>
    <script type="text/javascript" src="/static/js/usuarios/escritorio.js"></script>

{% endblock %}
{% block content %}
<div id='escritorio'>
    <div class='row'>
        <div class='large-8 columns'>
            <h2 id="link_desktop" style="cursor:pointer;">Escritorio</h2>
            <a href="#" id="link_add_clave">Registrar Cuenta</a><br><br>
                <div id="init_clave">
                    {% if not accounts %}
                    <p>
                        <strong>* Introduce una frase con la cual seran encriptadas/desecriptadas tus claves. Recuerda
                        que esta sera tu frase de desencriptado y deberas recordarla siempre.</strong>
                    </p>
                    {% endif %}
                    <div class="row">
                        <button id="load_key" class="small button left" for="id_key" style="margin-left:18px;">Cargar Frase</button>
                        <div class="large-5 columns">
                            <input type="password" name="id_key" id="id_key" />
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>
    <div class='row'>
        <div class='large-6 large-centered columns' id="table_keys" style="display:block;">
            <h2 style="color: #71C18B;">Cuentas</h2>
            <table id="accounts" class="bordered">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Usuario</th>
                        <th>Clave</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% if accounts %}
                    {% for account in accounts %}
                        <tr class="{{account.id}}">
                            <td class="tbl_description" data="{{account.description}}">
                                {{account.description|truncatechars:10}}
                            </td>
                            <td class="tbl_user" data="{{account.user_account}}">
                                {{account.user_account|truncatechars:10}}
                            </td>
                            <td class="tbl_pass" data="{{account.pass_account}}">
                                {{account.pass_account|truncatechars:10}}
                            </td>
                            <td><img class="edit_account" data-description="{{account.description}}" data-user="{{account.user_account}}" data-pass="{{account.pass_account}}" data-acc-id="{{account.id}}" src="/static/images/usuario/edit.png" width="20"></td>
                            <td><img class="delete_account" data="{{account.id}}" src="/static/images/usuario/delete.png" width="20"></td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <!-- <tr><td colspan="5">No tienes cuentas almacenadas.</td></tr> -->
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='row'>
        <div class='large-6 large-centered columns' id="add_key" style="display:none;">
            <h2 style="color: #71C18B;">Registrar cuenta nueva</h2>
            <div class="row">
                <div class="large-2 columns">
                    <label for="id_description" class="left inline">Descripcion: </label>
                </div>
                <div class="large-10 columns">
                    {{add_account.description}}
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <label for="id_user_account" class="left inline">Usuario: </label>
                </div>
                <div class="large-10 columns">
                    {{add_account.user_account}}
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <label for="id_pass_account" class="left inline">Clave: </label>
                </div>
                <div class="large-10 columns">
                    {{add_account.pass_account}}
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns right inline">
                    <button class="small button" id="submit_add_clave" data-type="add">
                        Registrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
