{% extends "base.html" %}
{% block css %}
    <link href="/static/css/home/home.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div id='manifiesto'>
        <div class='row'>
            <div class='large-8 large-centered columns'>
                <h2>Acerca</h2>
            </div>
            <div class='large-8 large-centered columns'>
                <p style="text-align: justify;">
                    Incubu nacio gracias a que se tenian muchas cuentas 
                    y claves que recordar lo que hacia dificl tener varias
                    contraseñas diferentes. <br><br>
                    Entonces se necesitaba un lugar
                    unificado para almacenar esas cuentas y que además
                    estuvieran encriptadas. <br><br>
                    Puedes ver el proyecto y contribuir en el. <a href="https://github.com/Codectivo/Incubu">Github</a> :D
                </p>
            </div>
        </div>
    </div>
{% endblock %}
