<!DOCTYPE html>
<html lang='es'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta name="description" content="Guarda y encripta tus claves en la nube.">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Incubu-Almacena tus claves de manera segura">
    <meta property="og:image" content="http://incubu.herokuapp.com/static/images/key.png">
    <meta property="og:title" content="Incubu">
    <meta property="og:description" content="Almacenamos tus claves de manera cifrada, es decir, solo tu tienes el control de ver tus claves nosotros solo las almacenamos de manera cifrada y disponibles en cualquier momento.">
    <meta property="og:url" content="http://incubu.herokuapp.com">
    <title>Incubu - {%block title%}Home{%endblock%}</title>
    <link href="http://fonts.googleapis.com/css?family=Gudea" rel="stylesheet" type="text/css">
    <link href="/static/foundation/css/normalize.css" rel="stylesheet">
    <link href="/static/foundation/css/foundation.css" rel="stylesheet">
    <link href="/static/css/incubu.css" rel="stylesheet">
    <link href="/static/css/nprogress.css" rel="stylesheet">
    {% if user.is_authenticated %}
        <link href="/static/css/menu.css" rel="stylesheet">
    {% endif %}
    {% block css %}{% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script src="/static/js/nprogress.js" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            NProgress.start();
            NProgress.done();
        });
    </script>
    {% if user.is_authenticated %}
        <script type="text/javascript" src="/static/js/menu.js"></script>
    {% endif %}
    {% block js %}{% endblock %}
</head>
<body>
    <div class='jumbotron'>
        <div class='container head'>
            <div class="row">
                <div class='large-centered columns'>
                    <h1>Incubu</h1>
                    <p>Almacena tus claves de manera segura.</p>
                </div>
                <div id="menu_desplegable">
                    {% if user.is_authenticated %}
                    <ul class="nav">
                        <li>
                            <a href="/usuario/escritorio/">Escritorio</a>
                            <ul><li class="arrow_top"></li></ul>
                            <ul>
                                <li>
                                    <a href="/usuario/configuracion/">
                                        <img src="/static/images/usuario/settings.ico" width="15">
                                        Configuración</a>
                                </li>
                                <li>
                                    <a href="/usuario/logout/">
                                        <img src="/static/images/usuario/logout.ico" width="15">
                                        Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
                <div id="menu_head">
                    <a href="/">Inicio</a>
                    {% if not user.is_authenticated %}
                        <a href="/acerca/">Acerca de</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <footer>
        <div id='footer'>
            <div class="copyright">
                <div class="footer_product">
                    {% if user.is_authenticated %}
                        <a href="/acerca/">Acerca del proyecto.</a>
                    {% endif %}
                </div>
                © {% now "Y" %}. Incubu. Hecho con <font color="#FA5858" size="3px">♥</font>
                . Todos los derechos reservados.
            </div>
        </div>
    </footer>
</body>
</html>
